<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>人员管理</title>

    <link href="${springMacroRequestContext.contextPath}/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="${springMacroRequestContext.contextPath}/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">

    <link href="${springMacroRequestContext.contextPath}/css/animate.min.css" rel="stylesheet">
    <link href="${springMacroRequestContext.contextPath}/css/style.min.css?v=3.2.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="${springMacroRequestContext.contextPath}/js/plugins/layer/skin/layer.css" charset="UTF-8">

</head>

<body class="gray-bg">
<div id="toolBar" style="position:inherit;top: 0;z-index: 1" class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        员工查询
                    </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal">
                        <div class="form-group" style="margin-top:15px">
                            <label class="control-label col-sm-1" for="txt_search_departmentname">按门店查找</label>
                            <div class="col-sm-2">
                                <select id="selectCon" class="form-control">
                                    <option value="0">选择门店</option>
                                    <option value="1">订单号</option>
                                    <option value="2">用户名</option>
                                    <option value="3">地址</option>
                                </select>
                            </div>
                            <div class="col-sm-2"><input id="params" name="params" class="form-control"
                                                         placeholder="输入阿姨名字"
                                                         type="text"/></div>
                            <label class="control-label col-sm-1" for="txt_search_statu">类型</label>
                            <div class="col-sm-2">
                                <select class="form-control">
                                    <option>无忧阿姨LV1</option>
                                    <option>无忧阿姨LV2</option>
                                    <option>无忧阿姨LV3</option>
                                    <option>无忧阿姨LV4</option>
                                    <option>无忧阿姨LV5</option>
                                </select>
                            </div>

                            <div class="col-sm-3" style="text-align:left;">
                                <div class="row">
                                    <button type="button" id="btn_addEmp" class="btn btn-info" onclick="addEmployees()">
                                        新增
                                    </button>
                                    <button type="button" id="btn_query" class="btn btn-primary"
                                            onclick="searchTable()">查询
                                    </button>
                                    <input type="reset" class="btn btn-danger" value="重置"/>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="scorell" class="wrapper wrapper-content animated fadeInRight">

    <div class="row" id="listDiv">
    </div>
    <input type="hidden" value="0" id="offset"/>
    <input type="hidden" value="1" id="total"/>
</div>
<div class="row">
    <div id="moreData" style="text-align: center" type="button"
         class="btn col-sm-4 col-md-4 btn-default col-sm-offset-4 col-md-offset-4">加载更多
    </div>
</div>

<!-- 全局js -->
<script src="${springMacroRequestContext.contextPath}/js/jquery-2.1.1.min.js"></script>
<script src="${springMacroRequestContext.contextPath}/js/bootstrap.min.js"></script>
<script src="${springMacroRequestContext.contextPath}/js/plugins/layer/layer.js"></script>

<script type="text/javascript">

</script>
<script>
    $(function () {


        getData();
        $("#moreData").click(function () {
            getData();
        });
        // 加载数据
    });

    function animationHover(o, e) {
        console.log(e);
        o = $(o), o.hover(function () {
            o.addClass("animated " + e)
        }, function () {
            window.setTimeout(function () {
                o.removeClass("animated " + e)
            }, 1000);
        })
    }
    /**
     * 获取数据客户数据
     */
    function getData() {

        layer.load();
        $.ajax({
            url: "/admin/emp/getData",
            dataType: "JSON",
            method: "GET",
            data: {"offset": $("#offset").val()},
            success: function (datas) {
                layer.closeAll("loading");
                var listData = datas['empList'];
                $.each(listData, function (key, value) {
                    var detail = "<div class='col-sm-4'>"
                            + "<div class='contact-box'>"
                            + "<a href='/admin/emp/detail/'>"
                            + "<div class='col-sm-4'>"
                            + "<div class='text-center'>"
                            + "<img alt='image' class='img-circle m-t-xs img-responsive' src='" + value['empPhotoUrl'] + "'>"
                            + "<div class='m-t-xs font-bold'>" + value['empJobName'] + "</div>"
                            + "</div>"
                            + "</div>"
                            + "<div class='col-sm-8'>"
                            + "<h3><strong>" + value['empName'] + "</strong></h3>"
                            + "<p><i class='fa fa-map-marker'></i>" + value['empJobName'] + "</p>"
                            + "<address>"
                            + "<strong>" + value['empState'] + "</strong><br>"
                            + "</address>"
                            + "</div>"
                            + "<div class='clearfix'></div>"
                            + "</a>"
                            + "</div>"
                            + "</div>";
                    $("#listDiv").append(detail);
                    if (listData.length < 10) {
                        $("#moreData").text("加载完成");
                        $("#moreData").attr("disabled", "disabled");

                    }
                    $('.contact-box').each(function () {
                        animationHover(this, 'pulse');
                    });
                });
                $("#offset").val(parseInt($("#offset").val()) + 10);

            },
            error: function (err) {
                layer.closeAll("loading");
                layer.alert("加载失败,不要问我为什么,我也不知道");
            }

        });
    }
</script>


</body>

</html>