<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>安家无忧后台管理</title>
    <meta name="keywords" content="安家无忧">
    <meta name="description" content="厦门市思明区后埭溪28皇达大厦">

    <!--[if lt IE 8]>
    <script>
        alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
    </script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="#{webroot}/css/bootstrap.min.css" charset="utf-8">
    <script src="#{webroot}/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="#{webroot}/plugins/bootstraptable/bootstrap-table.min.css">
    <script type="text/javascript" src="#{webroot}/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="#{webroot}/plugins/bootstraptable/bootstrap-table.min.js"></script>
    <script src="#{webroot}/plugins/bootstraptable/bootstrap-table-export.js" charset="utf-8"></script>
    <script src="#{webroot}/plugins/bootstraptable/tableExport.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="#{webroot}/plugins/bootstraptable/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>
<div id="toolbar">
    <select class="form-control">
        <option value="basic">导出本页</option>
        <option value="all">导出全部</option>
        <option value="selected">导出选中</option>
    </select>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne">
                    订单查询
                </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">

            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-sm-1" for="txt_search_departmentname">查询条件</label>
                        <div class="col-sm-2">
                            <select id="selectCon" class="form-control">
                                <option value="0">选择查询条件</option>
                                <option value="1">订单号</option>
                                <option value="2">用户名</option>
                                <option value="3">地址</option>
                            </select>
                        </div>
                        <div class="col-sm-2"><input id="params" name="params" class="form-control" placeholder="输入查询内容"
                                                     type="text"/></div>
                        <label class="control-label col-sm-1" for="txt_search_statu">时间</label>
                        <div class="col-sm-3">
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" id="startTime" class="form-control" name="startTime"
                                       placeholder="选择开始时间"/>
                                <span class="input-group-addon">到</span>
                                <input type="text" class=" form-control" id="endTime" name="endTime"
                                       placeholder="选择结束时间"/>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <select id="userTypeId" class="btn btn-default">
                                <option value="0">只看套餐</option>
                                #foreach($ty in $userTypes)
                                    <option value="${ty.id}">$ty.userType</option>
                                #end
                            </select>
                        </div>
                        <div class="col-sm-2" style="text-align:left;">
                            <div class="row">
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                                        onclick="searchTable()">查询
                                </button>
                                <input type="reset" class="btn btn-danger" value="重置"/>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="exampleTableEventsToolbar" role="group" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_edit" type="button" onclick="updateCustomer()" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button>
        <button id="btn_delete" type="button" onclick="deleteOrder()" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>


    <table id="table">
    </table>


</body>
<script src="#{webroot}/js/plugins/datapicker/bootstrap-datepicker.min.js"></script>
<script src="#{webroot}/js/plugins/datapicker/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="#{webroot}/js/project/common.js"></script>
<script type="text/javascript">
    var $table =
    $('#table');
    $('#datepicker').datepicker({
        language: "zh-CN",
        format: 'yyyy-mm-dd'
    });
    $(function () {
        var isFrame = GetQueryString('isFrame');

        function detailFormatter(value, row, index) {
            var wu = "无";
            var detail = "<div class='row'>" +
                    "<div class='col-md-4 col-lg-3'>" +
                    "<label>合同号:</label><span>" + row.contractNum + "</span>" +
                    "</div>" +
                    "<div class='col-md-4 col-lg-3 '>" +
                    "<label >用户名&nbsp:</label><span>" + row.customerName + "</span>" +
                    "</div>" +
                    "<div class='col-md-4 col-lg-3'>" +
                    "<label>联系方式:</label><span" + row.customerPhone + "</span>" +
                    "</div>" +
                    "<div class='col-md-4 col-lg-3 '>" +
                    "<label>地址&nbsp&nbsp:</label><span>" + row.customerAddress + "</span>" +
                    "</div>" +
                    "<div class='col-md-4 col-lg-3 '>";
            if (row.customerBus != undefined) {
                wu = row.customerBus
            } else {
                wu = "无"
            }
            detail += "<label>公交站&nbsp:</label><span>" + wu + "</span>" +
                    "</div>";
            if (row.customerStime != undefined) {
                wu = row.customerStime;
            } else {
                wu = "无"
            }
            detail += "<div class='col-md-4 col-lg-3 '>" +
                    "<label>服务时间:</label><span>" + wu + "</span>" +
                    "</div>" +
                    "<div class='col-md-4 col-lg-3 '>" +
                    "<label>用户类型:</label><span>" + row.userTypeName + "</span>" +
                    "</div>";
            if (row.customerHomeKind != undefined) {
                wu = row.customerHomeKind
            } else {
                wu = "无"
            }
            detail += "<div class='col-md-4 col-lg-3 form-group'>" +
                    "<label>户型&nbsp&nbsp:</label><span>" + wu + "</span>" +
                    "</div>";
            if (row.customerBuytime != undefined) {
                wu = row.customerBuytime;
                var date = new Date(wu);
                wu = date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
            } else {
                wu = "无"
            }
            detail += "<div class='col-md-4 col-lg-3 '>" +
                    "<label>购卡时间:</label><sapn>" + wu + "</span>" +
                    "</div>" +
                    "</div>" +
                    "<input type='button' class='btn btn-success' onclick='serviceDetail(" + row.contractNum + ")'  value='服务详情'/> "
            return detail;
        }

        $('#table').bootstrapTable({
            url: '/admin/data',
            dataField: "rows",
            columns: [
                {
                    field: 'state',
                    checkbox: true,
                    align: 'center',
                    valign: 'middle'
                },

                {
                    field: 'id',
                    title: 'ID',
                },
                {
                    field: 'contractNum',
                    title: '合同号/客户号',
                }, {
                    field: 'customerName',
                    title: '客户名字',
                }, {
                    field: 'customerPhone',
                    title: '联系方式',
                }, {
                    field: 'customerAddress',
                    title: '地址',
                }, {
                    field: 'userTypeName',
                    title: '用户类型',
                }

            ],
            pagination: true,//显示分页
            showRefresh: true,//显示刷新按钮
            showColumns: true,//显示勾选列显示按钮
            striped: true,  //表格显示条纹
            detailView: true,
            pageList: [10, 25, 50, 100, 'ALL'],
            showPaginationSwitch: true,
            minimumCountColumns: 2,
            cache: false,
            switchable: true,
            showExport: true,
            idField: 'id',
            uniqueId: "id",
            sidePagination: "server",
            exportDataType: "basic",
            toolbar: "#exampleTableEventsToolbar",//工具按钮用哪个容器
            detailFormatter: detailFormatter,
            rowStyle: function (row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger'];
                var res = index % 4;
                return {
                    classes: classes[res]
                };
            },
            onClickCell: function (field, value, row, ele) {

                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                if (isFrame.substring(0, 1) == 1) {
                    parent.$('#serviceOrder').val(row['contractNum']);
                    parent.$('#serviceOrder').text(row['contractNum']);
                    parent.$('#serviceType').val(row['customerType']);
                    parent.$('#serviceTypeName').val(row['userTypeName']);
//                    console.log(parent.$('#serviceOrder'));
                    parent.layer.tips('你选择了:' + row['customerAddress'] + "的<strong class='animated rubberBand' style='color: #8cc657'>" + row['customerName'] + "</strong>", '#serviceOrder', {
                        tips: [4, '#3595CC'],
                        time: 5000
                    });
                    parent.layer.close(index);
                }
            }

        });


    });
    function searchTable() {
        console.log("点击搜索");

        if ($("#selectCon").val() == "0" && $("#params").val() != "") {
            layer.tips("选我选我", "#selectCon");
            layer.alert("请选择查询条件");
            return false;
        }
        var dataUrl = "data"
        var isFirst = 0;
        var isSec = 0;
        if ($("#startTime").val() != null && $("#startTime").val() != "") {
            console.log($("#startTime").val().replace("/", '-').substring(0, $("#startTime").val().length));
            console.log($("#endTime").val().replace('/', '-'));

            console.log($("#startTime").val());

            dataUrl += "?startTime=" + $("#startTime").val() + "&endTime=" + $("#endTime").val();
            isFirst = 1;
            isSec = 1;
        }
        if ($("#params").val() != null && $("#params").val() != "") {
            if (isFirst == 1 && isSec == 0) {
                dataUrl += "&params=" + $("#params").val() + "&searchCondition=" + $("#selectCon").val();
            } else {
                dataUrl += "?params=" + $("#params").val() + "&searchCondition=" + $("#selectCon").val();
            }
        }
        console.log($("#selectCon").val());
        if ($("#userTypeId").val() != 0) {
            if (isFirst == 1 || isSec == 1) {
                dataUrl += "&userTypeId=" + $("#userTypeId").val();
            } else {
                dataUrl += "?userTypeId=" + $("#userTypeId").val();
            }
        }
        console.log(dataUrl);

        $('#table').bootstrapTable('refresh', {
            url: dataUrl.trim()
        });
    }
    function updateCustomer() {
        var res = ($table.bootstrapTable('getSelections'));
        console.log(res.length);
        if (res.length < 1) {
            layer.alert('请选择要修改的订单', {
                skin: 'layui-layer-molv',
                closeBtn: 1,
                shift: 2
            });
            return false;

        }
        if (res.length > 1) {
            layer.alert('一次只能修改一个订单哈T_T', {
                skin: 'layui-layer-lan',
                shift: 3,
                closeBtn: 0
            });
            return false;
        }
        var cId;
        $.each(res[0], function (a, b) {
            if (a == 'id') {
                cId = b;
            }
        });
        window.location.href = "/admin/toUpdate?id=" + cId;
    }
    function deleteOrder() {
        var res = ($('#table').bootstrapTable('getSelections'));
        console.log(res.length);
        if (res.length < 1) {
            layer.alert('请选择要删除的订单', {
                skin: 'layui-layer-molv',
                closeBtn: 1,
                shift: 2
            });
            return false;

        }
        if (res.length > 1) {
            layer.alert('一次只能删除一个订单哈T_T', {
                skin: 'layui-layer-lan',
                shift: 3,
                closeBtn: 0
            });
            return false;
        }
        var cId;
        $.each(res[0], function (a, b) {
            if (a == 'id') {
                cId = b;
            }
        });

        layer.confirm('你确定要删除？', {
            btn: ['取消', '确定'] //按钮
        }, function () {
            layer.msg('已取消', {icon: 1});
            return false;
        }, function () {
            layer.load(1);
            // 开始删除订单
            $.ajax({
                url: "/admin/delete",
                method: "POST",
                data: {'id': cId},
                dataType: "JSON",
                success: function (msg) {
                    layer.closeAll("loading");
                    console.log("msg" + msg);
                    layer.alert('删除成功!', {
                        icon: 1,
                        skin: 'layui-layer-molv'
                    });
                    console.log("id:" + cId);
                    $('#table').bootstrapTable('refreshOptions', {});
                    console.log("id:over");
                },
                error: function (err) {
                    layer.closeAll("loading");
                    layer.alert('删除失败!', {
                        icon: 1
                    });


                }
            });
        });


    }
    function serviceDetail(id) {
        window.location.href = "/admin/detail/?id=" + id;
    }
    // 增加
    $("#btn_add").click(function () {
        window.location.href = "/admin/addCustomer";
    });
    $('#toolbar').find('select').change(function () {
        var a = $(this).val();
        $('#table').bootstrapTable('refreshOptions', {
            exportDataType: a
        });
    });
</script>

<script src="#{webroot}/js/plugins/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="#{webroot}/js/plugins/layer/skin/layer.css" charset="UTF-8">
<link href="#{webroot}/css/plugins/datapicker/bootstrap-datepicker.css" rel="stylesheet">
</html>