<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="#{webroot}/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="#{webroot}/css/animate.min.css" rel="stylesheet">
   <link href="#{webroot}/css/style.min.css?v=3.2.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="row">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="text-center float-e-margins p-md">
                            <span>订单号:$!{SERVICE_ORDER}</span>
                           <p class="lead">订单服务情况</p>
                        </div>
                    <div class="" id="ibox-content">
                        #foreach($detail in ${details})

                                <div id="vertical-timeline" class="vertical-container light-timeline">
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i>$!{detail.serviceCount}</i>
                                        </div>

                                        <div class="vertical-timeline-content">
                                            <h2>基本反馈</h2>
                                            <p>$!{detail.serviceCallback}</p>
                                            <a href="#" class="btn btn-sm btn-primary"> 详情</a>
                                            <span class="vertical-date">
                                     <small>服务人员工号:$!{detail.empNum}</small><br>
                                        <small>日期:$date.format($!{detail.serviceTime})}</small>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                        #end
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 全局js -->
<script src="#{webroot}/js/jquery-2.1.1.min.js"></script>
<script src="#{webroot}/js/bootstrap.min.js?v=3.4.0"></script>



</body>

</html>