<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homefun.dao.EmployeesMapper">
  <resultMap id="BaseResultMap" type="com.homefun.model.Employees">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    <result column="EMP_NUM" jdbcType="VARCHAR" property="empNum" />
    <result column="EMP_IDCARD" jdbcType="VARCHAR" property="empIdcard" />
    <result column="EMP_ADDRESS" jdbcType="VARCHAR" property="empAddress" />
    <result column="EMP_SEX" jdbcType="BIT" property="empSex" />
    <result column="EMP_AGE" jdbcType="INTEGER" property="empAge" />
    <result column="EMP_PHOTO" jdbcType="VARCHAR" property="empPhoto" />
    <result column="EMP_DESE" jdbcType="VARCHAR" property="empDese" />
    <result column="EMP_OTHER" jdbcType="VARCHAR" property="empOther" />
    <result column="EMP_BELONG" jdbcType="VARCHAR" property="empBelong"/>
    <result column="EMP_GROUP" jdbcType="VARCHAR" property="empGroup"/>
    <result column="EMP_JOB" jdbcType="VARCHAR" property="empJob"/>
    <result column="EMP_STATE" jdbcType="INTEGER" property="empState"/>
  </resultMap>
  <select id="selectByRequest" parameterType="java.util.HashMap" resultType="com.homefun.model.Employees">
    SELECT em.ID , em.EMP_NAME empName,em.EMP_PHOTO empPhoto, shop.SHOP_NAME shopName,em.EMP_STATE empState,
    job.JOB_NAME jobName from employees em
    LEFT JOIN job as job on em.EMP_JOB=job.JOB_ID
    LEFT JOIN shop as shop on em.EMP_BELONG=shop.SHOP_NUM
    <if test="empState==null">
      WHERE EMP_STATE=0
    </if>
    <if test="empState!=null">
      WHERE EMP_STATE=#{empState}
    </if>
   <if test="empName!=null">
     AND em.EMP_NAME LIKE CONCAT('%', #{empName},'%')
   </if>
    <if test="empBelong!=null">
      AND em.EMP_BELONG = #{empBelong}
    </if>
  </select>
</mapper>